@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 47 100% 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: 352 78% 56%;
    --secondary-foreground: 47 100% 50%;

    --muted: 0 0 70%;
    --muted-foreground: 0 0 50%;

    --border: 0 0% 50%;
    --input: 0 0% 94%;
    --ring: 47 100% 50%;
    --radius: 8px;
    --value: 0 0% 35%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

.wave-animation {
  overflow: hidden;
  position: relative;
}

.wave-animation::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(152, 152, 152, 0.2),
    transparent
  );
  animation: waveAnimation 1.2s infinite;
}

/* dropdown menu position */
/* [data-radix-popper-content-wrapper] {
  left: -31px !important;
} */

@layer utilities {
  @keyframes waveAnimation {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
