.activeFilter {
  @apply px-5 py-[10px] bg-secondary-50 border border-secondary text-label-small text-secondary hover:bg-secondary-50 rounded-full;
}

.inactiveFilter {
  @apply px-5 py-[10px] text-neutral-600 rounded-full text-label-small font-medium;
}

.buttonBottom {
  @apply h-[82px] p-4 flex items-center relative bottom-0 w-full bg-neutral-100 z-10;
}
