.cardShadow {
  box-shadow:
    0px 1px 2px 0px #0000000a,
    0px 4px 4px 0px #0000000a,
    0px 9px 5px 0px #00000005,
    0px 16px 6px 0px #00000003,
    0px 25px 7px 0px #00000000,
    0px 0px 10px 0px #0000000d;
}

/* CARD MENU */
.cardMenu {
  @apply rounded-base bg-neutral-200;
}

/* wrap thumbnail */
.cardMenuThumbnail {
  @apply relative w-full h-[125px];
}

/* image */
.cardMenu > div:nth-child(1) {
  @apply rounded-base w-full h-[125px] object-cover;
}

.label {
  @apply absolute top-2 left-[-8px];
}

.label > div {
  @apply relative flex justify-center;
}

.label label {
  @apply absolute top-[2.5px] text-label-promo text-neutral-100;
}

.labelStars {
  @apply bg-[#1a1a1a]/50 w-[24px] h-[24px] flex items-center justify-center rounded-[4px] absolute top-1 right-[4.6px];
}

.cardMenu h1 {
  @apply text-heading-7 mb-1 line-clamp-2;
}

.cardMenu > div:nth-child(2) div {
  @apply flex items-center gap-[6px];
}

.cardMenu > div:nth-child(2) div > h2 {
  @apply text-body-small text-secondary;
}

.cardMenu > div:nth-child(2) div > span {
  @apply text-body-xxxsmall text-neutral-600 line-through;
}

/* END CARD MENU */
