.pin {
  @apply grid grid-cols-6 gap-2 mt-[6px];
}

.pinItem {
  @apply bg-input h-12 w-full rounded-base flex items-center justify-center text-base font-medium;
}

.button {
  @apply h-[40px] px-3 bg-neutral-200 !text-neutral-800 text-label-small;
}
