.modalWrapContent {
  @apply gap-0 p-0 overflow-hidden;
}

.modalHeader {
  @apply h-[50px] flex justify-center mb-0 px-3;
}

.modalHeader div {
  @apply flex justify-center;
}

.modalDialogTitle {
  @apply text-center flex-1 text-heading-5;
}

.modalContent {
  @apply h-fit overflow-hidden;
}
