.trigger {
  @apply flex items-center gap-2 justify-between w-full;
}

.wrapSelect {
  @apply border border-neutral-200 rounded-full h-fit flex items-center;
}

.selectItem {
  @apply w-full flex items-center border-b border-neutral-300 rounded-none h-[40px];
}

.profileBorder {
  @apply relative border-2 border-neutral-300 rounded-full h-[24px] w-[24px] flex-shrink-0 overflow-hidden;
}

.secondarySelect {
  @apply border border-secondary bg-secondary-50 text-secondary text-button-medium h-[40px];
}
