.header {
  @apply p-content h-[80px] shadow-bottom flex items-center justify-between gap-16;
}

.left {
  @apply flex w-[50%] gap-3;
}

.right {
  @apply flex gap-3 justify-end w-[50%];
}

.buttonItem {
  @apply flex gap-2 items-center;
}
