.numpad {
  @apply grid grid-cols-3 grid-rows-4 mt-4;
}

.numpadItem {
  @apply flex justify-center items-center h-[84px];
}

.clear {
  @apply text-error-500 text-[32px];
}

.number {
  @apply text-neutral-700 text-[32px];
}
