.auth {
  @apply w-full h-screen grid grid-cols-3 items-center;
}

.mainContent {
  @apply relative h-full flex flex-col items-center justify-center col-span-2;
}

.content {
  @apply flex flex-col items-center smallTablet:w-[70%] w-[60%] z-10;
}

.aside {
  @apply h-full col-span-1 shadow-xl container flex flex-col smallTablet:justify-normal smallTablet:py-10 justify-center overflow-y-auto;
}

.logo {
  @apply flex justify-center mb-24;
}
