.dashboard {
  @apply w-full h-svh grid grid-cols-3 overflow-y-hidden;
}

.layoutContent {
  @apply relative h-svh w-full col-span-2;
}

.aside {
  @apply h-full col-span-1 shadow-left;
}

.filter {
  @apply p-content ps-0 me-5 relative;
}

.filterBlur {
  @apply bg-gradient-to-l from-[#fafafafa] to-[#fafafafa]/0 h-12 w-[64px] absolute right-0 z-50;
}

.filterContent {
  @apply flex gap-2 overflow-x-auto;
}

.menu {
  @apply p-content pt-0 smallTablet:h-[75%] h-[77%] overflow-y-auto;
}

.menuGrid {
  @apply grid smallTablet:grid-cols-4 grid-cols-5 gap-3 pb-5;
}

.contentHeader {
  @apply flex justify-between items-center mb-3;
}

.contentBody {
  @apply bg-neutral-200 px-5 py-4 h-svh relative;
}

.contentBodyHeader {
  @apply flex justify-between items-center;
}
