.onboarding {
  @apply flex h-full w-full flex-col justify-center pb-14 text-center;
}

.hero {
  @apply relative w-[80%];
}

.dots {
  @apply mb-[32px] flex w-full justify-center gap-2;
}

.dotsItem {
  @apply h-3 w-3 rounded-full;
}

.skip {
  @apply mt-5 cursor-pointer font-semibold;
}

.buttonArea {
  @apply container relative mb-[32px] flex w-[700px] flex-col items-center gap-2;
}
